[submodule "pack/core/start/surround.vim"]
	path = pack/core/start/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/core/start/unimpaired.vim"]
	path = pack/core/start/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "pack/core/start/fugitive.vim"]
	path = pack/dev/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/core/start/lualine.nvim"]
	path = pack/neo/opt/lualine
	url = https://github.com/nvim-lualine/lualine.nvim.git
[submodule "pack/neo/opt/devicons"]
	path = pack/neo/opt/dev-icons
	url = https://github.com/nvim-tree/nvim-web-devicons.git
[submodule "pack/core/start/repeat"]
	path = pack/core/start/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "pack/dev/start/gitgutter"]
	path = pack/vim/opt/gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "pack/dev/start/commentary"]
	path = pack/dev/start/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "pack/themes/opt/pencil"]
	path = pack/colors/opt/pencil
	url = https://github.com/preservim/vim-colors-pencil.git
[submodule "pack/colors/opt/off"]
	path = pack/colors/opt/off
	url = https://github.com/pbrisbin/vim-colors-off.git
[submodule "pack/colors/opt/komau"]
	path = pack/colors/opt/komau
	url = https://github.com/ntk148v/komau.vim.git
[submodule "pack/colors/opt/yin-yang"]
	path = pack/colors/opt/yin-yang
	url = https://github.com/pgdouyon/vim-yin-yang.git
[submodule "pack/colors/opt/yui"]
	path = pack/colors/opt/yui
	url = https://github.com/cideM/yui.git
[submodule "pack/colors/opt/zenbones"]
	path = pack/colors/opt/zenbones
	url = https://github.com/mcchrish/zenbones.nvim.git
[submodule "pack/colors/opt/paper"]
	path = pack/colors/opt/paper
	url = https://github.com/YorickPeterse/vim-paper.git
[submodule "pack/ui/opt/lightline"]
	path = pack/vim/opt/lightline
	url = https://github.com/itchyny/lightline.vim.git
[submodule "pack/dev/opt/ale"]
	path = pack/dev/opt/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "pack/neo/opt/alpha"]
	path = pack/neo/opt/alpha
	url = https://github.com/goolord/alpha-nvim.git
[submodule "pack/neo/opt/lush"]
	path = pack/neo/opt/lush
	url = https://github.com/rktjmp/lush.nvim.git
  ignore = dirty
[submodule "pack/neo/opt/gitsigns"]
	path = pack/neo/opt/gitsigns
	url = https://github.com/lewis6991/gitsigns.nvim.git
[submodule "pack/dev/opt/vala"]
	path = pack/dev/opt/vala
	url = https://github.com/vala-lang/vala.vim.git
[submodule "pack/core/start/cutlass"]
	path = pack/core/opt/cutlass
	url = https://github.com/svermeulen/vim-cutlass.git
[submodule "pack/core/start/yoink"]
	path = pack/core/opt/yoink
	url = https://github.com/svermeulen/vim-yoink.git
[submodule "pack/core/start/subversive"]
	path = pack/core/opt/subversive
	url = https://github.com/svermeulen/vim-subversive.git
[submodule "pack/core/start/sensible"]
	path = pack/core/start/sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "pack/core/start/sneak"]
	path = pack/core/start/sneak
	url = https://github.com/justinmk/vim-sneak.git
[submodule "pack/neo/opt/which-key"]
	path = pack/neo/opt/which-key
	url = https://github.com/folke/which-key.nvim.git
[submodule "pack/core/start/gnupg"]
	path = pack/core/start/gnupg
	url = https://github.com/jamessan/vim-gnupg.git
[submodule "pack/core/start/argwrap"]
	path = pack/core/start/argwrap
	url = https://github.com/FooSoft/vim-argwrap.git
  ignore = dirty
[submodule "pack/colors/opt/monochrome"]
	path = pack/colors/opt/monochrome
	url = https://github.com/kdheepak/monochrome.nvim.git
[submodule "pack/neo/opt/plenary"]
	path = pack/neo/opt/plenary
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule "pack/neo/opt/telescope"]
	path = pack/neo/opt/telescope
	url = https://github.com/nvim-telescope/telescope.nvim.git
[submodule "pack/neo/opt/treesitter"]
	path = pack/neo/opt/treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "pack/dev/opt/dadbod"]
	path = pack/dev/opt/dadbod
	url = https://github.com/tpope/vim-dadbod.git
[submodule "pack/core/start/dispatch"]
	path = pack/core/start/dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "pack/neo/opt/lint"]
	path = pack/neo/opt/lint
	url = https://github.com/mfussenegger/nvim-lint.git
[submodule "pack/neo/opt/lspconfig"]
	path = pack/neo/opt/lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "pack/dev/opt/bundler"]
	path = pack/dev/opt/bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule "pack/colors/opt/solarized8"]
	path = pack/colors/opt/solarized8
	url = https://github.com/lifepillar/vim-solarized8.git
[submodule "pack/colors/opt/gruvbox"]
	path = pack/colors/opt/gruvbox
	url = https://github.com/ellisonleao/gruvbox.nvim
[submodule "pack/colors/bruin"]
	path = pack/colors/opt/bruin
	url = https://git.sr.ht/~romainl/vim-bruin
[submodule "pack/colors/opt/alabaster"]
	path = pack/colors/opt/alabaster
	url = https://git.sr.ht/~p00f/alabaster.nvim
[submodule "pack/colors/opt/deepwhite"]
	path = pack/colors/opt/deepwhite
	url = https://github.com/Verf/deepwhite.nvim.git
[submodule "pack/neo/opt/fzf-lua"]
	path = pack/neo/opt/fzf-lua
	url = https://github.com/ibhagwan/fzf-lua.git
[submodule "pack/neo/opt/toggleterm"]
	path = pack/neo/opt/toggleterm
	url = https://github.com/akinsho/toggleterm.nvim.git
[submodule "pack/neo/opt/trouble"]
	path = pack/neo/opt/trouble
	url = https://github.com/folke/trouble.nvim.git
